@import "tailwindcss";

@theme {
  --font-heading: var(--font-playfair-display);
  --font-body: var(--font-inter);
}

@theme {
  --color-primary: #0a0a0a;
  --color-secondary: gray;
  /* --color-accent:  */
  --color-heading: white;
}
@layer components {
  .card {
    background-color: var(--color-primary);
    /* border-radius: var(--radius-lg);
    padding: --spacing(6);
    box-shadow: var(--shadow-xl); */
  }
}

/* Lenis configuration */

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
