@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

@theme {
  --font-heading: var(--font-playfair-display);
  --font-body: var(--font-inter);
  --font-retro: var(--font-vt323);
}

@theme {
  --color-primary: #0a0a0a;
  --color-secondary: gray;
  --color-background: rgb(0, 0, 0);
  --color-heading: white;
  --color-texting: white;
}

@layer components {
  .card {
    background-color: var(--color-primary);
    /* border-radius: var(--radius-lg);
    padding: --spacing(6);
    box-shadow: var(--shadow-xl); */
  }
  /* Just use this like this: className="card" */

  .hero-logo {
    @apply text-2xl text-white sm:text-3xl md:text-4xl lg:text-4xl;
  }
}

/* Lenis configuration */

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

html {
  font-size: 16px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}
